html,body{
	height:100%;
	margin: 0 0 0 0;
	text-align:center;
	background-color:#225378;
	color:#ACF0F2;
	font-family:'Open Sans', sans-serif;
}
p{
	margin: 1pt 0 5pt 0;
	text-align:left;
}
a,a:visited{
	color:#ACF0F2;
}
hl{
	background-color:rgba(22, 149, 163,1);
}
h2{
	margin-bottom:5pt;
}
h3{
	text-align:right;
}
#footer{
	padding:left;
	padding: 0 0 20pt 0;
	max-height:200pt;
	width:100%;
	left:0pt;
	right:0pt;
	bottom:0pt;
}

header{
	height:100%;
	width:100%;
	margin: 0 0 0 0;
	background-image: url("../images/header.JPG");	
	background-attachment: fixed;
    background-repeat: no-repeat;
	background-size: 100% auto;
	background-position: center bottom;
}

header img{
	width:100%;
}
header h1{
	display:block;
	width:250pt;
	position:relative;
	padding: 10pt 0pt 10pt 0pt;
	vertical-align:center;
	horiziontal-align:center;
	background-color:rgba(255,255,255,0.5);
	color:#2C3E50;
	top:50%;
    margin: auto;
}
header h1:hover{
	background-color:rgba(217,232,245,0.5);
}

/*----------------NAV--------------------*/
nav ul{
	top:30%;
	right:0;
	position:fixed;
	width:90pt;
	min-width:20pt;
}
nav li{
	list-style-type:none;
	display:block;
	text-align:center;
	padding: 10pt 0pt 10pt 0pt;
	background-color: rgba(243,255,226,0.6);
}
nav li:hover{
	background-color:rgba(243,255,226,0.8);;
}
nav a,a:link,a:visited{
	color:#225378;
	text-decoration: none;
}
#contact a,a:visited{
	color:inherit;
	text-decoration:none;
}
#profile_img_div{
	float:left;
	width:20%;
	margin-top:10pt;
	bottom:0;
}
.profile_text_div{
	padding: 0pt 0pt 0pt 5pt;
	float:left;
	width:65%;
}

#profile{
	width:90%;
}
#profile_wrapper{
		height:280px;
}


.wrapper{
	margin:30pt 15vw 10pt 15vw;
	min-height:270pt;
}

footer i{
		color:#ACF0F2;
}

.link{
	
	margin: 5pt 5pt 5pt 5pt;
	padding: 10pt 5pt 10pt 5pt;
	width:90pt;
	height:50pt;
	border-color:#F3FFE2;
	background-color:rgba(243,255,226,0.9);
	color:#225378;
	border-radius:8pt;
}
.link:hover{
	background-color:#F3FFE2;
}
.link a{
	font-size:15pt;	
	text-decoration:none;
	color:#225378;
}
.linkpack{
	width:100%;
	float:left;
}
.linkpack div{
	float:left;
}
.linkintro{
	float:left;	
	margin: 5pt 0pt 5pt 0pt;
	padding: 10pt 0pt 10pt 10pt;
	text-align:left;
	bottom:0pt;
	top:0;
	width:70%;
}
.linkintro p{	
	vertical-align:middle;
}
#contact.resume span{
	color:rgba(172, 240, 242,0.8);
	display:inline-block;
	padding: 2pt 6pt 2pt 6pt;
	opacity:0.8;
	border-left: solid 1pt #ACF0F2;
}
#contact.resume span:hover{
	color:rgba(172, 240, 242,1);
}
#contact.resume span:first-of-type{
	border-left: none;	
}
#main.resume{
	margin: 0 auto;
	width:600pt;
	text-align:left;
}
.resume li{
	margin-top:5pt;
}
/*-----------------------------------------------------------------------------------*/
@media screen and (max-width:1000px){
	header{
		width:100%;
		height:56.25vw;
		margin: 0 0 0 0;
		background-image: url("../images/header.JPG");	
		background-attachment: fixed;
		background-repeat: no-repeat;
		background-size: 100% auto;
		background-position: center top;
	}
	header h1{
		display:block;
		width:150pt;
		position:relative;
		padding: 10pt 0pt 10pt 0pt;
		vertical-align:center;
		horiziontal-align:center;
		background-color:rgba(255,255,255,0.5);
		color:#2C3E50;
		top:50%;
		margin: 0 auto 100 auto;
		font-size:20px;
	}
	header h1:hover{
		background-color:rgba(217,232,245,0.5);
	}
	.wrapper{
		margin:20pt 7vw 5pt 7vw;
		min-height:200pt;
		height:auto;
	}	
	#profile_wrapper{
		height:390px;
	}

}
@media only screen
and (min-device-width : 320px) 
and (max-device-width : 480px)
{
	.linkintro{
		height:40pt;
		padding:0 0 0 0;
	}

	.link{
		width:60pt;
		height:40pt;
	}
	.link a{
		font-size:11pt;
	}
	.wrapper{
		margin:30pt 3vw 10pt 5vw;
	}
	p{
		margin-top:5pt;
	}
	#profile_img_div,.profile_text_div{
		width:100%;
	}
	#profile_wrapper{
		min-height:650px;
	}
	h2{
		margin-top:5px;
	}
	h3{
		text-align:left;
	}
}

/*
	#225378
	#1695A3
	#ACF0F2
	#F3FFE2
	#EB7F00
*/
